@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #fcf1df;
  color: #241f1c;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.t-g-header.is-open .t-g-header-background {
  left: 0;
}
.t-g-header-button-wrapper {
  margin-left: auto;
}
.t-g-header-icon {
  display: none;
}

.t-g-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.t-g-navigation-list.is-open {
  right: 0;
}
.t-g-header-icon-menu {
  display: block;
}

.t-g-header-icon-button.is-open .t-g-header-icon-menu {
  display: none;
}

.t-g-header-icon-button.is-open .t-g-header-icon-close {
  display: block;
}

.t-g-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 48px;
  background: #241f1c;
}

.t-g-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #241f1c;
}
.t-g-header.is-open .t-g-header-background {
  left: 0;
}
.t-g-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.t-g-header-icon-menu {
  display: block;
}

.t-g-header-icon-button.is-open .t-g-header-icon-menu {
  display: none;
}

.t-g-header-icon-button.is-open .t-g-header-icon-close {
  display: block;
}

.t-g-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 12px 16px;
  position: relative;
}

.t-g-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: auto;
  transition: 0.3s;
  z-index: 999;
  padding: 40px 0px;
  gap: 16px;
  background: #241f1c;
}

.t-g-navigation-list.is-open {
  right: 0;
}

.t-g-navigation-link {
  font-family: Kavoon;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  display: block;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #fcf1df;
  width: 170px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom-width: 1px;
  border-bottom: 1px solid transparent;
}

.t-g-navigation-link:hover,
.t-g-navigatioт-link:focus {
  border-bottom: 1px solid #bb9967;
}

.t-g-header.is-open {
  background-color: transparent;
}

.t-g-navigation-img {
  display: none;
}

@media screen and (min-width: 1202px) {
  .t-g-navigation-img {
    display: flex;
  }
  .t-g-policy-terms-header-icon-menu {
    display: none;
  }
  .w-b-header-button-wrapper {
    display: none;
  }
  .t-g-header {
    width: 100%;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .t-g-header-background {
  }
  .t-g-header-icon-button {
    display: none;
  }
  .t-g-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .t-g-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 62px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .t-g-navigation-link {
    width: fit-content;
    padding: 8px;
    font-family: Kavoon;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .t-g-navigation-item-desk {
    display: none;
  }
}
.t-g-home {
  width: 375px;
  height: 812px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/1_home_mob.png");
  margin: auto;
}
.t-g-home-container {
  width: 375px;
  padding: 96px 16px 0px;
  margin: auto;
}

.t-g-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.t-g-home-title {
  font-family: Kavoon;
  font-weight: 400;
  font-size: 46px;
  line-height: 140%;
  letter-spacing: -1%;
  text-align: center;
  text-shadow: 0px 2px 1px #875626;
}
.t-g-home-title span {
  font-family: Kavoon;
  font-weight: 400;
  font-size: 36px;
  line-height: 160%;
  letter-spacing: -0.5px;
  text-align: center;
}

.t-g-home-text {
  font-family: Kavoon;
  font-weight: 400;
  font-size: 25px;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  color: #fcf1df;
  -webkit-text-stroke: 2px #241f1c;
  padding-top: 24px;
}

@media screen and (min-width: 1202px) {
  .t-g-home {
    width: 1440px;
    height: 891px;
    background-image: url("/img/home/1_home.png");
  }
  .t-g-home-container {
    width: 1440px;
    padding: 90px 0px 0px;
  }

  .t-g-home-title {
    font-family: Kavoon;
    font-weight: 400;
    font-size: 56px;
    line-height: 140%;
    letter-spacing: 0%;
  }
  .t-g-home-title span {
    font-family: Kavoon;
    font-weight: 400;
    font-size: 56px;
    line-height: 140%;
    letter-spacing: 0%;
  }
  .t-g-home-text {
    font-family: Kavoon;
    font-weight: 400;
    font-size: 32px;
    line-height: 140%;
    letter-spacing: 0%;
    padding-top: 8px;
  }
}

.t-g-about-container {
  width: 375px;
  padding: 48px 16px;
  margin: auto;
}
.t-g-about-title {
  font-family: Inter;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -4%;
  display: flex;
  align-items: center;
  gap: 8px;
}
.t-g-about-img {
  width: 16px;
  height: 16px;
}
.t-g-about-t {
  font-family: Kavoon;
  font-weight: 400;
  font-size: 28px;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  padding: 40px 00px 32px;
}
.t-g-about-tt {
  display: none;
}
.t-g-about-text {
  background: #875626;
  border: 2px solid #241f1c;

  border-radius: 12px;
  padding: 24px;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: #fcf1df;
}

.t-g-about-text-bold {
  font-family: Kavoon;
  font-weight: 400;
  font-size: 28px;
  line-height: 150%;
  letter-spacing: 2%;
  text-align: center;

  -webkit-text-stroke: 2px#241F1C;
  padding-bottom: 10px;
}

@media screen and (min-width: 1202px) {
  .t-g-about-container {
    width: 1440px;
    padding: 80px;
  }

  .t-g-about-t {
    display: none;
  }
  .t-g-about-tt {
    display: block;
    font-family: Kavoon;
    font-weight: 400;
    font-size: 40px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
    padding: 26px 0 48px;
  }
  .t-g-about-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -1%;
    text-align: center;
  }
}
.t-g-why {
  background: #bb9967;
}

.t-g-why-container {
  background: #bb9967;

  width: 375px;
  margin: auto;
  padding: 48px 16px;
}
.t-g-why-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.t-g-why-item {
  display: flex;
  flex-direction: column;

  border-width: 2px;
  border-radius: 12px;
  padding-top: 12px;
  padding-right: 13px;
  padding-bottom: 12px;
  padding-left: 12px;
  background: #fcf1df;
  border: 2px solid #875626;
}

.t-g-why-text-bold {
  font-family: Kavoon;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 8px;
}
.t-g-why-img {
  width: 72px;
}
.t-g-why-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1202px) {
  .t-g-why-container {
    width: 1440px;
    padding: 80px;
  }
  .t-g-why-list {
    padding: 48px 40px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }
  .t-g-why-item {
    display: flex;
    flex-direction: column;
    width: 220px;
    gap: 16px;
    border-width: 2px;
    border-radius: 12px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
  }

  .t-g-why-text-bold {
    font-family: Kavoon;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;

    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .t-g-why-img {
    width: 100px;
  }
  .t-g-why-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.t-g-uniqueness {
  background: #bb9967;
}
.t-g-uniqueness-container {
  margin: auto;
  width: 375px;
  height: 556px;
  padding: 48px 16px 0;
  background-image: url("/img/uniqueness/9_contact_mob.png");
}
.t-g-uniqueness-div {
  padding: 48px 32px 0;
  display: flex;
  flex-direction: column;
  gap: 204px;
}
.t-g-uniqueness-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.t-g-uniqueness-item {
  display: flex;
  align-items: center;
  gap: 12px;
}
.t-g-uniqueness-img {
  width: 24px;
}

.t-g-uniqueness-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  color: #241f1c;
  text-decoration: none;
}

@media screen and (min-width: 1202px) {
  .t-g-uniqueness-container {
    margin: auto;
    width: 1440px;
    height: 284px;
    padding: 80px;
    background-image: url("/img/uniqueness/9_contact.png");
  }
  .t-g-uniqueness-div {
    padding: 14px 217px 0;
    display: flex;
    flex-direction: row;
    gap: 290px;
  }
  .t-g-uniqueness-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .t-g-uniqueness-item {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 278px;
  }

  .t-g-uniqueness-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
  }
}
.t-g-how {
  background: #bb9967;
}
.t-g-how-container {
  margin: auto;
  width: 375px;
  height: 1091px;
  background-image: url("/img/6_how\ to\ play_mob.png");
  padding: 48px 16px 0;
}
.t-g-how-list {
  padding-top: 379px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.t-g-how-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: #fcf1df;
  border: 2px solid #875626;
  border-radius: 12px;
  padding: 15px 23px;
}

.t-g-how-text-bold {
  font-family: Kavoon;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0%;
}

.t-g-how-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1202px) {
  .t-g-how-container {
    margin: auto;
    width: 1440px;
    height: 704px;
    background-image: url("/img/6_how\ to\ play.png");
    padding: 80px;
  }
  .t-g-how-list {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 737px;
  }

  .t-g-how-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    background: #fcf1df;
    border: 2px solid #875626;
    border-radius: 12px;
    padding: 23px;
  }
}

.t-g-reviews-container {
  margin: auto;
  padding: 48px 16px;
  width: 375px;
}
.t-g-reviews-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 40px;
}

.t-g-reviews-item {
  border-width: 1px;
  border-radius: 12px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 34px;
  background: #875626;
  border: 1px solid #241f1c;
  color: #fcf1df;
}

.t-g-reviews-item-top {
  display: flex;
  gap: 12px;
  align-items: center;
}
.t-g-reviews-img {
  width: 32px;
}
.t-g-reviews-text-bold {
  font-family: Kavoon;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0%;
}

.t-g-reviews-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: -2%;
  padding-top: 4px;
}

@media screen and (min-width: 1202px) {
  .t-g-reviews-container {
    margin: auto;
    padding: 80px;
    width: 1440px;
  }
  .t-g-reviews-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding-top: 48px;
  }

  .t-g-reviews-item {
    width: 236px;
    height: 112px;
    border-radius: 12px;
    padding: 15px;
  }

  .t-g-reviews-text-bold {
    font-family: Kavoon;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0%;
  }

  .t-g-reviews-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: -0.5px;
    padding-top: 12px;
  }
}

.t-g-faq-container {
  padding: 48px 16px;
  width: 375px;
  margin: auto;
}
.t-g-faq-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.t-g-faq-item {
  border-radius: 12px;
  padding: 12px;
  background: #241f1c;
  color: #fcf1df;
}
.t-g-faq-img {
  width: 110px;
  height: 100px;
  margin: 0 auto 8px;
}
.t-g-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Kavoon;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0%;
}

.t-g-faq-answer {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  padding: 0 12px;
}
.t-g-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.t-g-toggle-button img {
  transition: transform 0.3s ease;
  width: 16px;
}
.t-g-faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease;
  opacity: 0;
}

.t-g-faq-answer.open {
  max-height: 200px;
  opacity: 1;
  padding-top: 16px;
}

.t-g-toggle-button img.rotated {
  transform: rotate(180deg);
}
@media screen and (min-width: 1202px) {
  .t-g-faq-container {
    padding: 80px;
    width: 1440px;
    margin: auto;
  }
  .t-g-faq-list {
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .t-g-faq-item {
    width: 242px;
    min-height: 212px;
    height: fit-content;
    padding: 12px 15px;
  }
  .t-g-faq-img {
    margin: 0 auto 16px;
  }
}

.t-g-gallery-container {
  width: 375px;
  margin: auto;
  padding: 48px 16px;
}
.t-g-gallery-list {
  padding-top: 40px;
}

.t-g-gallery-item {
  width: 300px;
  height: 502px;

  overflow: hidden;
  position: relative;
  margin: 0 6px;
}

.t-g-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.t-g-gallery-button-container {
  display: none;
}
@media screen and (min-width: 1202px) {
  .t-g-gallery-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
  }

  .t-g-gallery-button {
    background-color: transparent;
    border: none;
    padding: 0;
    -webkit-transition: scale 0.3s ease;
    transition: scale 0.3s ease;
  }
  .t-g-gallery-list-left {
    position: absolute;
    top: 430px;
    left: 80px;
  }
  .t-g-gallery-list-right {
    position: absolute;
    right: 80px;
    top: 430px;
  }
  .t-g-gallery-button-icon {
    width: 72px;
  }
  .t-g-gallery-button:hover {
    scale: 120%;
  }

  .t-g-gallery-container {
    width: 1440px;
    margin: auto;
    padding: 80px;
    position: relative;
  }
  .t-g-gallery-item {
    width: 358px;
    height: 600px;
    border-radius: 24px;

    margin: 0 12px;
  }

  .t-g-gallery-list {
    padding: 48px 80px 0;
  }
}

.t-g-features {
  margin: auto;
  width: 375px;
  height: 906px;
  background-image: url("/img/features/4_game\ features_mob.png");
}
.t-g-features-container {
  width: 375px;
  margin: auto;
  padding: 48px 16px 0px;
}
.t-g-features-list {
  padding-top: 370px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.t-g-features-item {
  display: flex;
  gap: 16px;
  align-items: start;
}

.t-g-features-img {
  width: 24px;
}
.t-g-features-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;
}
.t-g-features-text-bold {
  font-family: Inter;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1202px) {
  .t-g-features {
    width: 1440px;
    height: 540px;
    background-image: url("/img/features/4_game\ features.png");
  }
  .t-g-features-container {
    width: 1440px;
    margin: auto;
    padding: 80px;
  }
  .t-g-features-list {
    padding-left: 495px;
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .t-g-features-item {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  .t-g-features-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
  }
  .t-g-features-text-bold {
    font-family: Inter;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
  }
}

.t-g-policy-terms-container {
  padding: 96px 16px 40px;
  width: 375px;
  margin: auto;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -1%;
}

.t-g-policy-terms-container h1 {
  margin-bottom: 40px;
  font-family: Kavoon;
  font-weight: 400;
  font-size: 36px;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
}
.t-g-policy-terms-container h2 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-family: Inter;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -2%;
}
.t-g-policy-terms-container ul {
  list-style-type: disc;
  margin-left: 20px;
}

.t-g-email-link {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1202px) {
  .t-g-policy-terms-container {
    padding: 104px 189px 40px;
    width: 1440px;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: -1%;
  }
  .t-g-policy-terms-container h1 {
    font-family: Kavoon;
    font-weight: 400;
    font-size: 48px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
  }
  .t-g-policy-terms-container h2 {
    font-family: Inter;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -2%;
  }
}

.t-g-footer-container {
  width: 375px;
  background: #241f1c;
  color: #fcf1df;
  padding: 48px 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 136px;
}

.t-g-footer-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.t-g-footer-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;

  color: inherit;
}

.t-g-footer-copyright {
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1202px) {
  .t-g-footer-container {
    width: 1440px;
    padding: 90px 180px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .t-g-footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    gap: 16px;
  }

  .t-g-footer-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }

  .t-g-footer-copyright {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
  }
}

.t-g-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 40px 16px;
  background: #bb9967;

  z-index: 1000;
  display: none;
}

.t-g-cookie-popup-text-two {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}

.t-g-cookie-button-container {
  padding: 20px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.t-g-cookie-button {
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #875626;
  font-family: Inter;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  width: 144px;
  text-transform: uppercase;
  border-bottom-width: 2px;
  padding: 10px 0;
}

#accept-cookies {
  border: none;
  background: #875626;
  box-shadow: 0px 4px 4px 0px #00000040;
  color: #fcf1df;
  border-radius: 12px;
}

.t-g-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1202px) {
  .t-g-cookie-popup-text-two {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
  }

  .t-g-cookie-button-container {
    padding-top: 32px;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 80px;
  }

  .t-g-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 40px;
    display: none;
  }
}
